.Users {
    display: flex;
}

@media screen and (max-width: 700px) {
    .Users {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.UsersUl {
    flex-basis: 80%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.User {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    flex-basis: 20%;
}

.userHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.User img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.userHeader svg {
    fill: blueviolet;
}

.search {
    display: flex;
    flex-direction: column;
}

.friend {
    fill: cornflowerblue !important;
}
