.Movies {
    display: flex;
}

.MoviesUl {
    flex-basis: 80%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.Movie {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    flex-basis: 15%;
}

.Movie img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Movie .no-img {
    opacity: 50%;
    object-fit: scale-down;
}

.movieHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.movieHeader svg {
    fill: blueviolet;
}

.search {
    display: flex;
    flex-direction: column;
}

.favorite {
    fill: hotpink !important;
}
